# Copy to .env and add in real key
# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=
PLAID_SECRET=

# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'development' to test with real credentials while developing
# Use 'production' to go live with real users
# When you switch environments, you'll need to re-write user_data.json with 
# user_data_orig.json, or your application won't work.
PLAID_ENV=sandbox
